<h1>Your Cart</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<table class="table">
  <thead>
    <tr>
      <th>Product Description</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%= orderitem.product.description %></td>
        <td><%= orderitem.quantity %></td>
        <td></td>
        <!-- ^ This column is for an edit Quantity form -->
        <td><%= link_to "X", orderitem_path(orderitem), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Checkout", edit_order_path(@order), class: "btn btn-secondary" %>
<%= link_to "Continue Shopping", :back, class: "btn btn-secondary" %>
