<h2>Cancelled Orders</h2>
<% if @orderitems["cancelled"] %>

  <h3>You have <%= @cancelleditems.count %> cancelled orders in your complete order history.</h3>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Number of items</th>
      <th scope="col">Order Placed on</th>
      <th scope="col">Order Cancelled on</th>
    </tr>
  </thead>
  <tbody>
    <% @cancelleditems.each do |order_id, items| %>
    <% order = Order.find_by(id: order_id) %>
    <tr>
      <td><%=order.id%></td>
      <td><%=order.orderitems.count%></td>
      <td><%= readable_date(order.created_at) %></td>
      <td><%= readable_date(order.updated_at) %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<% else %>
<p>You have no cancelled orders.</p>
<% end %>
