<div class="container">
  <div class="jumbotron text-center">
    <h7>Manage My Products</h7>
  </div>
</div>
<br>

<% if @products %>

<%= link_to "Add Product", new_merchant_product_path(@merchant.id), class: "btn btn-primary btn-lg active" %>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Retire/Activate</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.description %></td>
        <td><%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_merchant_product_path(@merchant.id, product.id) %></td>
        <td><%= link_to ('<i class="fa fa-hourglass-end"></i>').html_safe, products_status_path(@merchant.id, product.id), method: :patch %></td>
        <% if product.active %>
          <td>Active</td>
        <% else %>
          <td>Retired</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<% else %>
<p>You have no products! Click Sell to begin selling.</p>
<% end %>
