<div class="container">
  <div class="row">
    <h2 class="d-flex justify-content-center">Order Fulfillment</h2>

    <% paid_items = @orderitems["paid"] %>

    <% if paid_items %>
      <% paid_items = Merchant.items_by_orderid(paid_items) %>
      <p class="d-inline-block ml-auto mr-5">
        <button class="btn btn-primary shadow-lg p-3 mb-5 bg-primary rounded" type="button" data-toggle="collapse" data-target="#collapseOrderDetails" aria-expanded="false" aria-controls="collapseOrderDetails">
          Toggle Order Details
        </button>
      </p>
  </div>

  <div class="row">
    <h3>It's Time To Ship <%= paid_items.count %> New Orders!</h3>
  </div>

  <p>Print shipping labels dropdown</p>

  <div class="btn-group-vertical" role="group" aria-label="eachOrder">
    <% paid_items.each do |order_id, items| %>
    <% order = Order.find_by(id: order_id) %>
  <div class="container order my-1">
    <a class="btn btn-light" role="button" href="<%= "#" %>">Order #<%= order_id %>  ➡️
      <div class="container checkbox ml-auto d-inline">
        <small>Mark as shipped!</small>
        <!-- There's no toggler gem installed to make this toggle :( couldn't figure it out -->
        <input type="checkbox" name="my-checkbox" data-toggle="toggle" checked>
      </div>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </a>



    <div class="collapse" id="collapseOrderDetails">
      <div class="card card-body d-block">
        <%= items.count %> Items : Placed on <%= readable_date(order.created_at) %> (placed hh:mm ago) : Sales: <%= readable_cost(order.total_cost) %>
      </div>
    </div>
  </div>
    <% end %>
  </div>


    <% else %>
      <p>You're all caught up!</p>
    <% end %>

</div>
