<div class="container">
  <div class="row">
    <h2 class="d-flex justify-content-center">Order Fulfillment</h2>

    <% paid_orders = @merchant.orders_by_status("paid") %>

    <% if paid_orders %>
      <p class="d-inline-block ml-auto mr-5">
        <button class="btn btn-primary shadow-lg p-3 mb-5 bg-primary rounded" type="button" data-toggle="collapse" data-target="#collapseOrderDetails" aria-expanded="false" aria-controls="collapseOrderDetails">
          Toggle Order Details
        </button>
      </p>
  </div>

  <div class="row">
    <h3>It's Time To Ship <%= paid_orders.size %> New Orders!</h3>
  </div>

  <div class="btn-group-vertical" role="group" aria-label="eachOrder">
    <% paid_orders.each do |order| %>

    <button type="button" class="btn">Order #<%= order.id %>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </button>

    <div class="collapse" id="collapseOrderDetails">
      <div class="card card-body d-block">
        <%= order.orderitems.count %> Items : Placed on <%= readable_date(order.created_at) %> (placed hh:mm ago) : Sales: <%= readable_cost(order.total_cost) %>
      </div>
    </div>
    <% end %>
  </div>


    <% else %>
      <p>You're all caught up!</p>
    <% end %>

</div>
