<div class="container">
  <div class="jumbotron text-center">
    <h7>New Sales</h7>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
  <% if @orderitems["paid"] %>
  <p class="d-inline-block ml-auto mr-5">
    <button class="btn btn-primary shadow-lg bg-primary rounded" type="button" data-toggle="collapse" data-target="#collapseOrderDetails" aria-expanded="false" aria-controls="collapseOrderDetails">
      Toggle Order Details
    </button>
  </p>
</div>

  <div class="row">
    <h3><%= "Woohoo! You have #{@paiditems.size} New Orders!" %></h3>
  </div>
  <div class="row">
    <h3>It's time to ship.</h3>
  </div>

  <div class="btn-group-vertical" role="group" aria-label="eachOrder">
    <% @paiditems.each do |order_id, items| %>
    <% order = Order.find_by(id: order_id) %>
  <div class="container order my-1">

    <a class="btn btn-light" role="button" href=<%= merchant_customer_path(@merchant.id, order_id) %>> Order #<%= order_id %>  ➡️


      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </a>



    <div class="collapse" id="collapseOrderDetails">
      <div class="card card-body d-block">
        <ul>
          <li><%= items.size %> products</li>
          <li><%= orderitems_total_quantity(items) %> total items</li>
          <li>Order placed on <%= readable_date(order.created_at) %></li>
          <li>Total sales: <%= readable_cost(order.total_cost) %></li>
      </div>
    </div>
  </div>
    <% end %>
  </div>


    <% else %>
      <p>You're all caught up!</p>
    <% end %>

</div>
