<h2>My Stats</h2>

<h3>Total Sales: <%= readable_cost(@merchant.total_revenue) %></h3>
<% @merchant.revenue_by_status.each do |status, sales| %>
<p><%= "Sales - #{status.capitalize} Orders: "%><%= readable_cost(sales) %></p>
<% end %>

<h3>Total Orders: <%= Merchant.items_by_orderid(@merchant.orderitems).count %></h3>
<p><%= "Orders - Pending (Cart) Orders: #{@pendingitems.count} orders" %></p>
<p><%= "Orders - Paid (Unshipped) Orders: #{@paiditems.count} orders" %></p>
<p><%= "Orders - Complete (Shipped) Orders: #{@completeitems.count} orders" %></p>
<p><%= "Orders - Cancelled Orders: #{@cancelleditems.count} orders" %></p>

<h3>Total Items: <%= @merchant.orderitems.count %></h3>
<% @orderitems.each do |status, items| %>
<p><%= "Items - #{status.capitalize} Orders: #{items.count} items" %></p>
<% end %>

<h3>Total (Active) Products: <%= @activeproducts.count %> products currently in stock</h3>
<p><%= "Products - Out Of Stock Products: #{@soldout.count} products currently out of stock" %></p>
<p><%= "Products - Archived (Inactive) Products: #{@inactive.count} products archived" %></p>
