<div class="container">
  <div class="jumbotron text-center"> <%#grey box%>
    <h7>My Order Statistics</h7>
  </div>
</div>
<br>
<br>

<div class="card-columns">


      <div class="card bg-warning mb-3" >
        <div class="card-body">
          <h5 class="card-title">Total Sales: <%= readable_cost(@merchant.total_revenue) %></h5>
          <p class="card-text">      <ul class="list-group">
                  <% @merchant.revenue_by_status.each do |status, sales| %>
                    <li class="list-group-item text-center d-inline-block"><%= "Sales - #{status.capitalize} Orders: "%><%= readable_cost(sales) %></li>
                  <% end %>
                </ul></p>
        </div>
      </div>


      <div class="card bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Orders: <%= Merchant.items_by_orderid(@merchant.orderitems).count %></h5>
          <ul class="list-group">
            <li class="list-group-item text-center d-inline-block"><%= "Orders - Paid (Unshipped) Orders: #{@paiditems.count} orders" %></li>
            <li class="list-group-item text-center d-inline-block"><%= "Orders - Pending (Cart) Orders: #{@pendingitems.count} orders" %></li>
            <li class="list-group-item text-center d-inline-block"><%= "Orders - Complete (Shipped) Orders: #{@completeitems.count} orders" %></li>
            <li class="list-group-item text-center d-inline-block"><%= "Orders - Cancelled Orders: #{@cancelleditems.count} orders" %></li>
          </ul>
        </div>
      </div>



      <h3>Total Items: <%= @merchant.orderitems.count %></h3>
      <% @orderitems.each do |status, items| %>
      <p><%= "Items - #{status.capitalize} Orders: #{items.count} items" %></p>
      <% end %>


      <h3>Total (Active) Products: <%= @activeproducts.count %> products currently in stock</h3>
      <p><%= "Products - Out Of Stock Products: #{@soldout.count} products currently out of stock" %></p>
      <p><%= "Products - Archived (Inactive) Products: #{@inactive.count} products archived" %></p>
