<!-- require 'pry' -->


<h1 class=merchant_name><%= @merchant.name %></h1>

<div class="merchant_date">
  <h3> Date Joined: <%= readable_date(@merchant.created_at) %></h3>
</div>


<div class="merchant_buttons">
  <ul>
    <li><%= link_to "Add Product", new_product_path, class: "btn btn-primary" %><br></li>
    <li><%= link_to "Add Category", new_category_path, class: "btn btn-primary" %></li>
    <li><%= link_to "Account Orders", merchant_order_path, class: "btn btn-primary" %></li>

  </ul>

</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Inventory</th>
      <th scope="col">Edit</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>

    <% @merchant.products.each do |product| %>
    <tr>

      <td><img src="<%= find_image_for(product) %>" alt="snack image", height="100", width="100"></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.inventory %></td>
      <td><%= link_to "Edit", edit_product_path(product.id),class: "btn btn-primary" %></td>
      <% if product.status %>
      <td><%= link_to "Inactivate", status_change_path(product.id), method: :post, class: "btn btn-primary" %></td>
      <% else %>
      <td><%= link_to "Activate", status_change_path(product.id), method: :post, class: "btn btn-primary" %></td>
      <% end  %>
    </tr>
    <% end  %>

  </tbody>
</table>
