<h2>Order # <%=@order.id %></h2>
<h2>Merchant : <%=@merchant.name %></h2>

<%= @order.name %>
<%= @order.email %>
<%= @order.address %>
<%= @order.cc_num %>
last 4 only!
<%= @order.exp_date %>

<%= render partial: "checkbox",
      locals: { order: @order }%>
