<div class="container-fluid mx-1">
  <div class="row" >
    <div class="col-2">

      <ul class="nav nav-pills d-block" id="myTab" role="tablist" aria-orientation="vertical">
        <li class="nav-item">
          <a class="nav-link active" id="fulfillment-tab" data-toggle="tab" href="#fulfillment" role="tab" aria-controls="fulfillment" aria-selected="true">New Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="false">Manage My Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">My Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="order_history-tab" data-toggle="tab" href="#order_history" role="tab" aria-controls="order_history" aria-selected="false">Order History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled Orders</a>
        </li>
      </ul>

  </div>
  <div class="col-10">

    <div class="tab-content pl-3" id="myTabContent">
      <div class="tab-pane fade show active" id="fulfillment" role="tabpanel" aria-labelledby="fulfillment-tab"><%= render 'order_fulfillment' %></div>
      <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab"><%= render 'manage_products' %></div>
      <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab"><%= render 'stats' %></div>
      <div class="tab-pane fade" id="order_history" role="tabpanel" aria-labelledby="order_history-tab"><%= render 'past_orders' %></div>
      <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab"><%= render 'cancelled_orders' %></div>
    </div>


  </div>
</div>
</div>

<!--

      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-fulfillment-tab" data-toggle="pill" href="#fulfillment" role="tab" aria-controls="v-pills-fulfillment" aria-selected="true">New Sales</a>
        <a class="nav-link" id="v-pills-products-tab" data-toggle="pill" href="#products" role="tab" aria-controls="v-pills-products" aria-selected="false">Manage My Products</a>
        <a class="nav-link" id="v-pills-stats-tab" data-toggle="pill" href="#stats" role="tab" aria-controls="v-pills-stats" aria-selected="false">My Stats</a>
        <a class="nav-link" id="v-pills-order_history-tab" data-toggle="pill" href="#order_history" role="tab" aria-controls="v-pills-order_history" aria-selected="false">Past Orders</a>
        <a class="nav-link" id="v-pills-cancelled-tab" data-toggle="pill" href="#cancelled" role="tab" aria-controls="v-pills-cancelled" aria-selected="false">Cancelled Orders</a>
      </div> -->

      <!-- <div class="tab-content pl-3" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-fulfillment" role="tabpanel" aria-labelledby="v-pills-fulfillment-tab"><%= render 'order_fulfillment' %></div>
        <div class="tab-pane fade" id="v-pills-products" role="tabpanel" aria-labelledby="v-pills-products-tab"><%= render 'manage_products' %></div>
        <div class="tab-pane fade" id="v-pills-stats" role="tabpanel" aria-labelledby="v-pills-stats-tab"><%= render 'stats' %></div>
        <div class="tab-pane fade" id="v-pills-order_history" role="tabpanel" aria-labelledby="v-pills-order_history-tab"><%= render 'past_orders' %></div>
        <div class="tab-pane fade" id="v-pills-cancelled" role="tabpanel" aria-labelledby="v-pills-cancelled-tab"><%= render 'cancelled_orders' %></div>
      </div> -->
