
<section>
  <h5>All products sold by:   <%= @merchant.name %>  </h5>
  <p> Date Joined:  <%= readable_date(@merchant.created_at) %><br>



    <div class="card-columns">
      <% @merchant.products.each do |product| %>
      <div class="card" style="width: 18rem;">

        <img class="card-img-top" src=" <%= product.img_file %> " alt="Snack Image">
        <div class="card-body">
          <h5 class="card-title"><%= link_to product.name, product_path(product.id) %></h5>
<<<<<<< HEAD
          <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(product.price) %></h6>
=======

          <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(product.price/100) %></h6>
>>>>>>> 1d666934cfb825232dc15307c244247a67c21148
          <p class="card-text"><%= product.description %></p>
        </div>
      </div>
      <% end %>
    </div>

    <% if @logged_in_merchant  %>
    <% if @logged_in_merchant.id != nil &&  @logged_in_merchant.id ==  @merchant.id %>
    <%= link_to "Add Product", new_product_path %>
    <% @logged_in_merchant.products.each do |product| %>
    <%= link_to "Edit", edit_product_path(product.id) %>
    <% end  %>
    <% end %>
    <% end  %>

  </section>
