<h1><%= "#{@category.name}" %></h1>


<div class="card-columns">
  <% @category.products.each do |p|  %>
  <% if p.status %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=" <%= find_image_for(p) %> " alt="Snack Image">
    <div class="card-body">
      <h5 class="card-title"><%= p.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(p.price) %></h6>
      <% if p.average_rating %>
      <p><%= "Average rating:" %></p>
        <% p.average_rating.to_i.times do %>
          <i class="fa fa-cookie-bite"></i>
        <% end %>
      <% else %>
        <p><%= "No reviews yet" %></p>
      <% end %>
      <p class="card-text"><%= p.description %></p>
      <a class="card-merchant" href=" <%= merchant_path(p.merchant.id) %>"><%= "#{p.merchant.name}" %></a>
      <a class="card-details" href=" <%= product_path(p.id) %>">Details</a>
    </div>
  </div>
  <% end  %>
  <% end %>

</div>
