<div class="container">
  <section>
    <section>
      <h1><%= action_name %></h1>
    </section>
    <section>
      <%= form_with model: @product do |f|%>
        <%= f.label :name %>
        <br />
        <%= f.text_field :name %>
        <br /><br />
        <%= f.label :cost %>
        <br />
        <%= f.text_field :cost %>
        <br /><br />
        <%= f.label :image_url %>
        <br />
        <%= f.text_field :image_url%>
        <br /><br />
        <%= f.label :inventory%>
        <br />
        <%= f.text_field :inventory%>
        <br /><br />
        <%= f.label :description %>
        <br />
        <%= f.text_field :description %>
        <br /><br />


        <%= f.label "Choose all applicable categories and/or create a new one below:" %>
        <br />

        <%= f.collection_check_boxes(:category_ids, @categories.all, :id, :name) do |b| %>
          <div>
            <%= b.check_box %><%= b.label { b.text} %>
          </div>
        <% end %>


        <%= f.label :category, "New Category"%>
        <br />
        <%= f.text_field :category%>
        <br /><br />

        <%= f.hidden_field :merchant_id, value: session[:user_id] %>
        <%= f.submit %>
      <% end %>
    </section>
  </section>
</div>
