<section>
  <%= form_with model: @product do |f| %>

  <div class="form-group">
    <%= f.label :merchant %>
    <%= f.select :merchant_id, Merchant.all.map{ |merchant| [merchant.name, merchant.id] }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :product_name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    $<%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image_http_address %>
    <%= f.text_field :img_file, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <% end %>
</section>
