<section id="homepage-carousel">
  <%= render partial: '/layouts/header_carousel' %>
</section>

<br />
<hr />
<br />


<section class="feature-headline-container">

  <div class="feature-headline-image">
    <div class="image-feature">
      <img src="/assets/feature-image-3d773d4b666cf1fde9ca7326b683744580c92c921c985a831f9d6a44119c815d.JPG" alt="collage image of snacks including banana popsicle roller-coaster flower and plant" class="image-collage">
    </div>
  </div>

  <div class="feature-about">
    <div class="feature-text">
      <h2>The Nosh Life</h2>
      <p>We're all about community. And what better way to connect than with snacks from around the world. So grab a snack and let your taste buds travel the world.</p>
    </div>

    <div class="button-to-products">
      <%= link_to "All Products", products_path, class: "btn btn-outline-info" %>
    </div>
  </div>

</section>

<br />
<hr />
<br />


<section class="features text-center newest">

  <h2 class="card text-center newest blink">Just in!</h2>
  <br />
  <div class="text-center card">
    <% new = Product.newest(@products) %>
    <a href="<%= product_path(new.id) %>">
      <img class="card-img-top text-center" src=" <%= find_image_for(new) %> " alt="snack image">
    </a>
    <div class="card-body">
      <h5 class="card-title"><%=link_to "#{new.name} by #{new.merchant.name}", product_path(new.id) %></h5>
    </div>
  </div>
</div>

</section>

<br />
<hr />
<br />


<section class="features top-rated">

<h2 class="text-center top-rated">Top Rated Snacks</h2>
  <div class="scrolling-wrapper">
    <% Product.top_rated(@products).each do |product| %>
    <div class="card" style="width: 18rem;">
      <a href="<%= product_path(product.id) %>">
        <img class="card-img-top" src=" <%= find_image_for(product) %> " alt="snack image">
      </a>
    </div>
    <%end%>
  </div>

</section>
