<div class="card-deck">

  <div class="card">
    <h2 ><%= "#{@product.name}" %></h2>
    <div class="card-title" style="width: 30rem">
      <img class="card-img-top" src=" <%= find_image_for(@product) %> " alt="Image description">

      <div class="card-subtitle mb-2 text-muted" >
        <h3> <%= @product.description %></h3>
        <br >
        <h6 class="card-subtitle mb-2 text-muted"> Origin:

          <h3><% @product.categories.each do |category| %></h3>

          <p class="card-subtitle mb-2 text-muted"><%= category.name %></p>

          <%end%></h6>
          <br >
          Sold by: <a href=" <%= merchant_path(@product.merchant.id) %>"><%= "#{@product.merchant.name}" %></a>
          <br >
          price: $<%= @product.price %>
          <br >
          <%= @product.inventory %> currently in stock
          <br>
          <!-- <a href=" <%= product_order_item_path(@product.id) %>  " class="btn btn-primary">Add to cart</a> -->
          <% if @cart %>
          <%= form_with model: @order_item, url: order_items_path, method: :post do |f| %>
          <%= hidden_field_tag(:product_id, @product.id) %>

          <%= f.label :quantity %>
          <%= f.number_field :quantity, value: 1 %>

          <%= f.submit "Add to cart" %>
          <% end %>
          <!-- create an order_item and add to existing cart -->
          <% else %>


          <%= form_with model: @order_item, url: orders_path, method: :post do |f| %>
          <%= hidden_field_tag(:product_id, @product.id) %>

          <%= f.label :quantity %>
          <%= f.number_field :quantity, value: 1 %>

          <%= f.submit "Add to cart" %>
          <% end %>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<h2>Reviews</h2>

<% if @reviews.count > 0 %>
<% @reviews.each do |r| %>
<ul>
  <li><%= "Rating: #{r.rating}" %></li>
  <li><%= "#{r.description}" %></li>
</ul>
<% end %>

<%= "Average Rating: " %>
<%= @product.average_rating %>
<% else %>
<%= "No reviews yet for #{@product.name}. Leave a review below!" %>
<% end %>


<%= form_with model: @review, url: create_review_path, method: :post do |f| %>

<div class="review-form-container">

  <label class="star radio-inline" for="review_rating">
    <i class="fa fa-cookie-bite"></i>
  </label>
  <input required="required" type="radio" value="1" name="review[rating]" id="review_rating_1">

  <label class="star radio-inline" for="review_rating">
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
  </label>
  <input required="required" type="radio" value="2" name="review[rating]" id="review_rating_2">

  <label class="star radio-inline" for="review_rating">
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
  </label>
  <input required="required" type="radio" value="3" name="review[rating]" id="review_rating_3">

  <label class="star radio-inline" for="review_rating">
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
  </label>
  <input required="required" type="radio" value="4" name="review[rating]" id="review_rating_4">

  <label class="star radio-inline" for="review_rating">
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
    <i class="fa fa-cookie-bite"></i>
  </label>
  <input required="required" type="radio" value="5" name="review[rating]" id="review_rating_5">
</div>

<div class="form_group">
  <%= f.label :Leave_a_review %>
  <br>
  <%= f.text_area :description, cols: 25, rows: 5 %>
  <br>
</div>

<div class="form_group">
  <%= f.submit "Leave Review" %>
</div>

<% end %>
