<h1><%= link_to @product.name, product_path(@product.id) %></h1>
<% if session[:user_id] == @product.merchant_id %>
  <%= link_to "Edit Product", edit_merchant_product_path(session[:user_id], @product.id) %>
<% end %>
<br /><br />
<p><%= "Description: #{@product.description}" %></p>
<p><%= image_tag @product.image_url %></p>
<p><%= @product.cost %></p>
<!-- view helper to format printing cost-->

<p><%= "#{@product.inventory} in stock" %></p>
<p><%= "Sold by #{@product.merchant_id}" %></p>
<!-- custom model method for merchant name -->

<%= form_with model: @orderitem, url: orderitems_path, class: "product-form" do |f|%>

  <%= f.label :quantity, 'Quantity' %>
  <%= f.text_field :quantity, value: 1, required: true, maxlength: 3 %>
  <!-- add more features! -->

  <%= f.hidden_field :product_id, value: @product.id %>

  <%= f.submit "Add To Cart", class: "product-button btn btn-primary", role: "button" %>
<% end %>
