<h1><%= "#{@product.name}" %></h1>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=" <%= @product.img_file %> " alt="Image description">

  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(@product.price/100) %></h6>
    <p class="card-text"><%= @product.description %></p>
    Sold by:<a href=" <%= merchant_path(@product.merchant.id) %>"><%= "#{@product.merchant.name}" %></a>
    <br>
    <a href=" <%= product_path(@product.id) %>  " class="btn btn-primary">Details</a>
  </div>
</div>
