<div class="card-columns">
  <div class="card-title" style="width: 20rem">
    <img class="card-img-top" src=" <%= find_image_for(@product) %> " alt="Image description">
    <div class="card-body">
      <h5 class="card-title"><%= "#{@product.name}" %></h5>

    <h6 class="card-subtitle mb-2 text-muted"><p><%= @product.description %></p></h6

      <h6 class="card-subtitle mb-2"> Origin:
        <h3><% @product.categories.each do |category| %></h3>

        <p class="card-subtitle mb-2"><%= category.name %></p>

        <%end%></h6>
        <br >
        Sold by: <a href=" <%= merchant_path(@product.merchant.id) %>"><%= "#{@product.merchant.name}" %></a>
        <br >
        $<%= @product.price %>
        <br >
        <%= @product.inventory %> currently in stock
        <br>


        <% if @product.already_in_cart(@cart) %>
        <%= render partial: "add_to_cart", locals: { url: order_item_path(@product.already_in_cart(@cart)), method: :put } %>

        <% else %>
        <%= render partial: "add_to_cart", locals: { url: add_item_path, method: :post } %>
        <% end %>

        </div>
    </div>
  </div>
</div>


<section class="review-form">
<%= render partial: "add_review", locals: {url: create_review_path, method: :post } %>
</section>
