<!DOCTYPE html>
<html>
  <head>
    <title>No Regretsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav nav-tabs">
          <li class="nav-item">
            <%= link_to "All Products", products_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Add a Product", new_product_path %>
          <li class="nav-item">
            <%= link_to "All Merchants", merchants_path %>
          </li>
          <li class="nav-item">
            <%= link_to "All Categories", categories_path %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fa fa-shopping-cart"></i>'.html_safe, orders_path %>
          </li>
          <li class="nav-item">
          <% if session[:user_id] %>
          <%= link_to "Log out", logout_path, method: "delete"   %>
          <% else %>
          <%= link_to "Login with Github", "/auth/github" %>
          <% end %>
        </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
